<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->

<suite name="Suite1" verbose="1" thread-count="2" parallel="tests">

	<listeners>
		<listener class-name="Utils.TestNGListener"></listener>
	</listeners>

	<test name="Selenium Chrome test">
		<parameter name="Browser" value="Chrome">
		</parameter>
		<classes>
			<class name="Test.LunchPageTest" />
			<class name="Test.LoginPageTest" />
			<class name="Test.MyAccountScreenTest" />
			<class name="Test.HomeScreenTest" />
			<class name="Test.ProductDetailsTest" />
			<class name="Test.WishListPageTest" />
		</classes>
	</test>

	<test name="Selenium firefox test">
		<parameter name="Browser" value="Firefox">
		</parameter>
		<classes>
			<class name="Test.LunchPageTest" />
			<class name="Test.LoginPageTest" />
			<class name="Test.MyAccountScreenTest" />
			<class name="Test.HomeScreenTest" />
			<class name="Test.ProductDetailsTest" />
			<class name="Test.WishListPageTest" />
		</classes>
	</test>

	<test name="Selenium Internet Explorer test">
		<parameter name="Browser" value="Internet Explorer">
		</parameter>
		<classes>
			<class name="Test.LunchPageTest" />
			<class name="Test.LoginPageTest" />
			<class name="Test.MyAccountScreenTest" />
			<class name="Test.HomeScreenTest" />
			<class name="Test.ProductDetailsTest" />
			<class name="Test.WishListPageTest" />
			
			
		</classes>
	</test>

</suite>



 	
 	
 	